<div>
    <form [formGroup]="forgetPasswordForm" (ngSubmit)="onSubmit()" class="forgetpassword-form">
      <h2 class="title">Change Here</h2>
  
      <!-- Email Input -->
      <div class="input-field">
        <i class="fas fa-user"></i>
        <input type="email" formControlName="email" placeholder="Email">
        <div *ngIf="email?.invalid && email?.touched" class="error">
          Please enter a valid email.
        </div>
      </div>
  
      <!-- Old Password Input -->
      <div class="input-field">
        <i class="fas fa-lock"></i>
        <input type="password" formControlName="oldPassword" placeholder="Old Password">
        <div *ngIf="oldPassword?.invalid && oldPassword?.touched" class="error">
          Old password is required.
        </div>
      </div>
  
      <!-- New Password Input -->
      <div class="input-field">
        <i class="fas fa-lock"></i>
        <input type="password" formControlName="newPassword" placeholder="New Password">
        <div *ngIf="newPassword?.invalid && newPassword?.touched" class="error">
          New password is required.
        </div>
      </div>
  
      <!-- Submit Button -->
      <input type="submit" value="Change PW" class="btn" [disabled]="forgetPasswordForm.invalid">
  
      <!-- Social Media Links -->
      <p class="social-text">More Detail about us</p>
      <div class="social-media">
        <a href="" class="social-icon">
          <i class="fab fa-facebook"></i>
        </a>
        <a href="" class="social-icon">
          <i class="fab fa-twitter"></i>
        </a>
        <a href="" class="social-icon">
          <i class="fab fa-google"></i>
        </a>
        <a href="" class="social-icon">
          <i class="fab fa-linkedin-in"></i>
        </a>
      </div>
    </form>
  </div>
  