<!-- update-announcement.component.html -->
<div>
    <h2>Update Announcement</h2>
    <form (ngSubmit)="update()">
      <div>
        <label for="title">Title:</label>
        <input type="text" id="title" [(ngModel)]="updatedAnnouncement.title" name="title" required>
      </div>
      <div>
        <label for="message">Message:</label>
        <textarea id="message" [(ngModel)]="updatedAnnouncement.message" name="message" required></textarea>
      </div>
      <div>
        <label for="filePath">File Path:</label>
        <input type="text" id="filePath" [(ngModel)]="updatedAnnouncement.filePath" name="filePath">
      </div>
      <button type="submit">Update Announcement</button>
    </form>
  </div>
  