<div class="container-fluid">
    <div class="row g-0 ">
        <nav class="col-2 bg-success text-dark bg-opacity-75 pe-1">
            <h1 class="h3 text-center py-3 text-light bg-opacity-75">
                <i class="fa-solid fa-ghost" style="color: blue;" me-2></i>
                <span class="d-none d-lg-inline"></span>
                <i style="color:blue">D<span style="color:yellow;">A</span>T</i>
            </h1>
            <!-- menu bar -->
            <div class="list-group mt-4 text-center text-lg-start p-2">
                <span class="list-group-item disabled d-none d-lg-block">
                    <small>Controls</small>
                </span>

                <a href="" class="list-group-item list-group-item-action active">
                    <i class="fa-solid fa-house-crack" style="color: #121111;"></i>
                    <span class="d-none d-lg-inline">HOME</span>
                </a>

                <a href="" class="list-group-item list-group-item-action">
                    <i class="fa-solid fa-users-line"></i>
                    <span class="d-none d-lg-inline">Users</span>
                </a>

                <a href="" class="list-group-item list-group-item-action">
                    <i class="fa-solid fa-user-plus"></i>
                    <span class="d-none d-lg-inline">New Users</span>
                    <span class="d-none d-lg-inline badge bg-danger rounded-pill float-end">20</span>
                </a>

                <a href="" class="list-group-item list-group-item-action">
                    <i class="fa-solid fa-list fa-lg" style="color: black"></i>
                    <span class="d-none d-lg-inline">Items</span>
                </a>

                <a href="" class="list-group-item list-group-item-action">
                    <i class="fa-solid fa-percent" style="color: #e12336;"></i>
                    <span class="d-none d-lg-inline">Event</span>
                </a>

                <a href="" class="list-group-item list-group-item-action">
                    <i class="fa-regular fa-address-card"></i>
                    <span class="d-none d-lg-inline">Address</span>
                </a>

                <a href="" class="list-group-item list-group-item-action">
                    <i class="fa-solid fa-phone-volume" style="color: #74c0fc;"></i>
                    <span class="d-none d-lg-inline">Phone</span>
                </a>

                <div class="list-group mt-4 text-center text-lg-start">
                    <a href="" class="list-group-item list-group-item-action">
                        <i class="fa-solid fa-power-off"></i>
                        <span class="d-none d-lg-inline">Log out</span>
                    </a>
                </div>
            </div>
        </nav>

        <main class="col-10 bg-secondary p-2 text-dark bg-opacity-25">
            <!-- navbar -->
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <div class="flex-fill"></div>
                <ul class="navbar-nav me-4">
                    <li class="nav-item dropdown">
                        <a href="" class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
                            <i class="fas fa-user-circle"></i>
                        </a>

                        <ul class="dropdown-menu dropdown-menu-end">
                            <li>
                                <a href="" class="dropdown-item">Profile</a>
                            </li>
                            <li>
                                <a href="" class="dropdown-item">Edit</a>
                            </li>
                        </ul>
                    </li>

                    <li class="nav-item mt-2">
                        <a href="" class="nav-link">
                            <i class="fas fa-cog"></i>
                        </a>
                    </li>
                </ul>
            </nav>

            <!-- alert -->
            <div class="container-fluid mt-3 pt-1">
                <div class="row mb-3">
                    <div class="col">
                        <div class="alert alert-info">
                            <i class="fas fa-user me-2"></i> Welcome to the admin dashboard!
                        </div>
                    </div>
                </div>
            </div>

            
        

