<div class="container">
  <div class="signin-signup">
      <form #loginForm="ngForm" (ngSubmit)="onSubmit(loginForm)" class="sign-in-form">
          <h2 class="title">Log in!</h2>

          <!-- Staff ID Input -->
          <div class="input-field">
              <i class="fas fa-user"></i>
              <input
                  type="text"
                  placeholder="Staff ID"
                  name="staffId"
                  [(ngModel)]="staffId"
                  #staffIdInput="ngModel"
                  required
              />
          </div>
          <div *ngIf="staffIdInput.invalid && staffIdInput.touched" class="error">
              Staff ID is required.
          </div>

          <!-- Password Input -->
          <div class="input-field">
              <i class="fas fa-lock"></i>
              <input
                  type="password"
                  placeholder="Password"
                  name="password"
                  [(ngModel)]="password"
                  #passwordInput="ngModel"
                  required
              />
          </div>
          <div *ngIf="passwordInput.invalid && passwordInput.touched" class="error">
              Password is required.
          </div>

          <!-- Submit Button -->
          <input type="submit" value="Login" class="btn" [disabled]="loginForm.invalid">

          <p>Visit us on social platforms</p>
          <div class="social-media">
              <a href="#" class="social-icon">
                  <i class="fab fa-facebook"></i>
              </a>
              <a href="#" class="social-icon">
                  <i class="fab fa-twitter"></i>
              </a>
              <a href="#" class="social-icon">
                  <i class="fab fa-google"></i>
              </a>
              <a href="#" class="social-icon">
                  <i class="fab fa-linkedin-in"></i>
              </a>
          </div>
      </form>
  </div>
</div>